.githubWidget {
  align-items: center;
  justify-content: center;
  color: #333;
  border: 1px solid #DDD;
  max-width: 350px;
}

.photo-and-summary {
  display: flex;
  align-items:center;
}

.avatar {
  flex: 2;
  max-width: 72px;
  max-height: 72px;
}

.summary {

}

.header-bottom {
display:flex;
  justify-content:space-between;
}

.text-and-value {
  padding: 3px;
}

.repository-desc {
  display: flex;
}