@import "../../colors.scss";

.container {
  display: grid;
  grid-template-columns: 60% 25% 1fr;
  line-height: 4rem;
  align-items: center;
}

.name {
  grid-column: 1;
  color:$bluish-text-color;
  text-align: left;
  font-size: 1rem;
  line-height: normal;
}
.language{
  grid-column: 2;
  text-align: left;
  font-size: 1rem;
  }

.starIcon {
  grid-column: 3;
  text-align: left;
  max-height: 1.1rem;
  max-width: 1.1rem;
}

.starAndNumber {
  display: flex;
  align-items: center;
}