.container {
  color: #333;
  border: 1px solid #DDD;
  max-width: 350px;
}

.header {
  border-bottom: 1px solid #DDD;
}

.photoAndSummary {
  display: flex;
  align-items: center;
}

.avatar {
  flex: 2;
  max-width: 72px;
  max-height: 72px;
}

.headerBottom {
  display: flex;
  justify-content: space-evenly;
}


